.fa-house {
    color: #ddd;
}

.fa-house:hover{
    color: rgb(130, 117, 143);
}

.ficha-bottom {
    background-image: -webkit-gradient(linear,left top,right top,from(#4a5e83),to(#3c2446));
    background-image: linear-gradient(90deg,#4a5e83,#3c2446);
    color: #fff;
    display: flex;
    align-items: center;
    height: 150px;
    padding: 0 20px;
}