

<div class="row">
    <div class="col">
        <a href="#home"><i class="fa-solid fa-house fa-2x"></i></a>
    </div>
    <div class="col" *ngIf="permis">
        <a routerLink="/add-contact"><i class="fa-solid fa-square-plus fa-2x"></i></a>
    </div>
    <div class="col" *ngFor="let contacto of contactos">
        <h4>
            {{contacto.nombre_info}}
            <button class="btn btn-block" *ngIf="permis" routerLink="/modify-contact/{{contacto.idContacto}}"><i class="fa-solid fa-pen-to-square"></i></button>
        </h4>
        <p>{{contacto.info}}</p>
    </div>
    <div class="col" *ngIf="existCont">
        <table>
            <tr>
                <td><a href="https://github.com/lucas29951" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></td>
                <td><a href="https://www.linkedin.com/in/lucas-rodriguez-155500245/" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x"></i></a></td>
                <td><a href="https://www.instagram.com/lucas29951/" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></td>
                <td><a href="https://twitter.com/lucas29951" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a></td>
                <td><a href="https://www.facebook.com/lukas.rodriguez.127/" target="_blank"><i class="fa-brands fa-facebook-f fa-2x"></i></a></td>
            </tr>
        </table>
    </div>
</div>