.col {
    background: -webkit-gradient(linear,left top,right top,from(#4a5e83),to(#3c2446));
    background: linear-gradient(90deg,#4a5e83,#3c2446);
    color: #ddd;
}

p {
    margin-top: 10px;
    color: #fff;
}

table {
    width: 50%;
}

i {
    color: rgb(195, 193, 209);
}

i:hover {
    color: rgb(99, 156, 230);
}

.container {
    margin-top: 20px;
}

button i {
    color: #000;
}