<div class="container">
    <div class="row mb-2" *ngIf="perso">
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-info">{{perso.profesion}}</strong>
                    <h3 class="mb-0">{{perso.nombre}} {{ perso.apellido }}</h3>
                    <p class="card-text mb-auto">{{perso.resumen}}</p>
                    <table>
                        <tr>
                            <td><a href="https://github.com/lucas29951"><i class="fa-brands fa-github fa-2x"></i></a></td>
                            <td><a href="https://ar.linkedin.com/"><i class="fa-brands fa-linkedin-in fa-2x"></i></a></td>
                            <td><a href="https://www.instagram.com/lucas29951/"><i class="fa-brands fa-instagram fa-2x"></i></a></td>
                            <td><a href="https://twitter.com/Lucas290195"><i class="fa-brands fa-twitter fa-2x"></i></a></td>
                            <td><a href="https://www.facebook.com/lukas.rodriguez.127/"><i class="fa-brands fa-facebook-f fa-2x"></i></a></td>
                        </tr>
                    </table>
                </div>
                
                <div class="col-auto d-none d-lg-block">
                    <img *ngIf="perso.foto!=''" src="{{perso.foto}}" alt="foto" width="200">
                    <img *ngIf="perso.foto==''" src="https://i.gyazo.com/5b8bdd13b697c6b01cecd43ad8778582.png" alt="foto" width="200">
                    
                </div>
                <button class="btn btn-warning" routerLink="/modify-person/{{perso.idPersona}}" *ngIf="permis"><i class="fa-solid fa-pen-to-square"></i>  Editar</button>
            </div>
        </div>
    </div>
</div>