<app-header-empty></app-header-empty>

<div class="container mt-4">
    <div class="card mb-3">
        <div class="row g-0" *ngIf="persona">
            <div class="col-md-3">
                <h5><i class="fa-solid fa-image"></i>  Vista Previa</h5>
                <img src="{{persona.foto}}" class="img-fluid rounded-start" alt="vista previa foto" width="200">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-pen-to-square"></i>  Editar</h5>
                    <form (ngSubmit)="onUpdate()" novalidated #f="ngForm">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                [(ngModel)]="persona.nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" class="form-control" id="apellido" name="apellido"
                                [(ngModel)]="persona.apellido" required>
                        </div>
                        <div class="form-group">
                            <label for="profesion">Profesion:</label>
                            <input type="text" class="form-control" id="profesion" name="profesion"
                                [(ngModel)]="persona.profesion" required>
                        </div>
                        <div class="form-group">
                            <label for="resumen">Resumen:</label>
                            <input type="text" class="form-control" id="resumen" name="resumen"
                                [(ngModel)]="persona.resumen" required>
                        </div>
                        <div class="form-group">
                            <label for="foto">Foto: (link)</label>
                            <input type="text" class="form-control" id="foto" name="foto" [(ngModel)]="persona.foto"
                                required>
                        </div>
                        <br>
                        <button class="btn btn-success btn-block" [disabled]="!f.valid">Actualizar datos</button>
                        <button class="btn btn-secondary btn-block" (click)="volver()">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>