<h2>Crear nueva persona</h2>

<form (ngSubmit)="onCreate()" novalidated #f="ngForm">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre"
    [(ngModel)]="nombre" required>
    <br>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido"
    [(ngModel)]="apellido" required>
    <br>
    <label for="profesion">Profesion:</label>
    <input type="text" id="profesion" name="profesion"
    [(ngModel)]="prof" required>
    <br>
    <label for="resumen">Resumen:</label>
    <input type="text" id="resumen" name="resumen"
    [(ngModel)]="resumen" required>
    <br>
    <label for="foto">Foto:</label>
    <input type="text" id="foto" name="foto"
    [(ngModel)]="foto" required>
    <br>
    <button [disabled]="!f.valid">Crear</button>
</form>