<div class="container">
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h2>Habilidades <button class="btn btn-success" routerLink="/add-tecno" *ngIf="uLogged!=''"><i
                                class="fa-solid fa-circle-plus"></i> Agregar</button></h2>

                    <div id="skill">
                        <table *ngFor="let tecnologia of tecnologias">
                            <tr>
                                <td>
                                    <div class="skill-container">
                                        <div class="skill-graph" [ngStyle]="{'width':tecnologia.nivel+'%'}"></div>
                                        <p>{{tecnologia.nombre_tecno}}</p>
                                        <p>{{tecnologia.nivel}}%</p>

                                    </div>
                                </td>
                                <td *ngIf="uLogged!=''">
                                    <button class="btn btn-primary" [routerLink]="['/view-tecno/{{tecnologia.idTec}}']"><i
                                            class="fa-solid fa-eye"></i></button>
                                </td>
                                <td *ngIf="uLogged!=''">
                                    <button class="btn btn-warning" [routerLink]="['/modify-tecno/{{tecnologia.idTec}}']"><i
                                            class="fa-solid fa-pen-to-square"></i></button>
                                </td>
                                <td *ngIf="uLogged!=''">
                                    <button class="btn btn-danger" (click)="borrar(tecnologia.idTec)"><i class="fa-solid fa-trash-can"></i></button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
