.col {
    background: -webkit-gradient(linear,left top,right top,from(#4a5e83),to(#3c2446));
    background: linear-gradient(90deg,#4a5e83,#3c2446);
    color: #ddd;
}

#skill {
    width: 500px;
    padding: 20px 50px;
}

.skill-container {
    width: 700px;
    height: 50px;
    background-color: #ddd;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 13px;
}

.skill-container p {
    line-height: 50px;
    position: absolute;
    color: #fff;
    font-family: cursive;
    font-size: 15px;
}

.skill-container p:nth-child(2){
    width: 120px;
    padding-left: 20px;
}

.skill-container p:nth-child(3){
    right: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.skill-graph {
    position: absolute;
    height: 100%;
    left: 0;
    border-radius: 13px;
}

table td {
    padding: 5px 10px;
}

.btn {
    justify-content: center;
    margin: 5px auto;
}