<p>lista-tecnologia works!</p>

<article>
    <h2>Habilidades</h2>

    <div id="skill" > <!--Aqui iria el ngFor-->
        <div class="skill-container">
            <div class="skill-graph" style="width:85%;background:#de00ff"></div>
            <p>HTML</p>
            <p>85%</p>
        </div>

        <div class="skill-container">
            <div class="skill-graph" style="width:80%;background:#20da02"></div>
            <p>CSS</p>
            <p>80%</p>
        </div>
        <div class="skill-container">
            <div class="skill-graph" style="width:60%;background:#ff8a00"></div>
            <p>JAVASCRIPT</p>
            <p>60%</p>
        </div>
        <div class="skill-container">
            <div class="skill-graph" style="width:70%;background:#ff4800"></div>
            <p>JQUERY</p>
            <p>70%</p>
        </div>
        <div class="skill-container">
            <div class="skill-graph" style="width:50%;background:#00d2ff"></div>
            <p>PHP</p>
            <p>50%</p>
        </div>
    </div>
</article>