
<app-header></app-header>

<div class="banner">
    <img src="https://i.gyazo.com/3f23dfe22145e88bbe481f86dc6e8d6c.png" width="100%" alt="banner" />
</div>

<section id="about">
    <app-detalle-persona [perso]="persona"></app-detalle-persona>
</section>

<section id="skills">
    <app-lista-tecnologia [tecnos]="persona.tecnologias"></app-lista-tecnologia>
</section>

<section id="exps">
    <app-lista-experiencia [exps]="persona.experiencias"></app-lista-experiencia>
</section>

<section id="projects">
    <app-carousel-proyecto [pros]="persona.proyectos"></app-carousel-proyecto>
</section>

<section id="estudios">
    <app-lista-estudio [estus]="persona.estudios"></app-lista-estudio>
</section>

<app-footer [conts]="persona.contactos"></app-footer>