<div class="ficha-top" id="home">
    <div class="name">
        <img src="https://i.gyazo.com/1010a883a784d04f571f7889f3200904.png" width="282" alt="perfil" />
        <div>Argentina Programa<span>#YoProgramo</span></div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title"><i class="fa-solid fa-right-to-bracket"></i> Login</h5>
        </div>
        <div class="card-body">
            <div class="form-group py-5">
                <div class="mb-3">
                    <label for="username" class="col-form-label"><i class="fa-solid fa-user"></i>
                        Username:</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="col-form-label"><i class="fa-solid fa-lock"></i>
                        Password:</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="password">
                </div>
                {{loginError}}
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group">
                <button type="submit" class="btn btn-success" (click)="login()">
                    Enter
                </button>
                <button type="button" class="btn btn-secondary" [routerLink]="['/']">Cancelar</button>
            </div>
        </div>
    </div>
</div>