<div class="container">
    <div class="row">
      <aside class="col-sm-4">
        <div class="card">
          <article class="card-body">
            <h4 class="card-title mb-4 mt-1">Login</h4>
            <div class="form-group">
              <label for="">Usuario:</label>
              <input name="" class="form-control" placeholder="email" type="email" [(ngModel)]="username"/>
            </div>
            <div class="form-group">
              <label for="">Contraseña:</label>
              <input name="" class="form-control" placeholder="password" type="password" [(ngModel)]="password"/>
            </div>
            {{loginError}}
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block mt-3" (click)="login()">Submit</button>
            </div>
          </article>
        </div>
      </aside>
    </div>
    </div>