

.card {
    margin: 0 auto;
    width: 20rem;
    background-image: -webkit-gradient(linear,left top,right top,from(#4a5e83),to(#3c2446));
    background-image: linear-gradient(90deg,#4a5e83,#3c2446);
}

.card-header {
    color: #ddd;
    padding: 15px;
}

.btn-primary {
    width: 100%;
    margin-top: 10px;
}

.btn-success {
    margin: 5px;
    margin-left: 30%;
}

.fa-lock {
    color:#2e3f5f;
}

.fa-user {
    color:#2e3f5f;
}

