<app-header-empty></app-header-empty>

<div class="container">
    <div class="row mt-5" *ngIf="estudio">
        <div class="col-md-4 mx-auto">
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-header text-center">
                    Detalle
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{estudio.idEstudio}}</li>
                    <li class="list-group-item"><b>INSTITUCION: </b>{{estudio.nombre_institucion}}</li>
                    <li class="list-group-item"><b>LOGO DE LA INSTITUCION: </b>{{estudio.logo}}</li>
                    <li class="list-group-item"><b>TITULO: </b>{{estudio.titulo}}</li>
                    <li class="list-group-item"><b>FECHA DE ENTRADA: </b>{{estudio.fecha_entrada}}</li>
                    <li class="list-group-item"><b>FECHA DE SALIDA: </b>{{estudio.fecha_salida}}</li>
                </ul>
                <div class="card-footer d-grid gap-2">
                    <button class="btn btn-primary btn-block" (click)="volver()"><i class="fa-solid fa-circle-arrow-left"></i>  Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>