<div class="container">
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h2>Estudios <button class="btn btn-success" routerLink="/add-study" *ngIf="permis"><i
                                class="fa-solid fa-circle-plus"></i> Agregar</button></h2>

                    <div class="main-container">
                        <table *ngIf="!existEstus">
                            <thead>
                                <tr>
                                    <th>AUN NO HAY ESTUDIOS CARGADOS!</th>
                                </tr>
                            </thead>
                        </table>
                        <table *ngIf="existEstus">
                            <thead>
                                <tr>
                                    <th>LOGO</th>
                                    <th>TITULO</th>
                                    <th>INSTITUCION</th>
                                    <th>PERIODO</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let estudio of estus; index as i">
                                    <td><img src="{{estudio.logo}}" alt="logo" width="50"></td>
                                    <td>{{estudio.titulo}}</td>
                                    <td>{{estudio.nombre_institucion}}</td>
                                    <td>{{estudio.fecha_entrada}} - {{estudio.fecha_salida}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#detailStudyModal"
                                            (click)="vistaDetalle(estudio.idEstudio)">
                                            <i class="fa-solid fa-eye"></i>
                                        </button>
                                        <button *ngIf="permis" class="btn btn-warning"
                                            routerLink="/modify-study/{{estudio.idEstudio}}"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                        <button type="button" *ngIf="permis" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#confirmEstuModal" (click)="confirmar(estudio.idEstudio,i)">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Modal -->
                        <div class="modal fade" id="detailStudyModal" tabindex="-1"
                            aria-labelledby="detailStudyModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="detailStudyModalLabel">
                                            <i class="fa-solid fa-circle-info"></i>
                                            Detalle
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group list-group-flush" *ngIf="estudio">
                                            <li class="list-group-item"><b>ID: </b>{{estudio.idEstudio}}</li>
                                            <li class="list-group-item"><b>INSTITUCION:
                                                </b>{{estudio.nombre_institucion}}</li>
                                            <li class="list-group-item"><b>LOGO DE LA INSTITUCION: </b>
                                                <img src="{{estudio.logo}}" alt="logo institucion" width="50">
                                            </li>
                                            <li class="list-group-item"><b>TITULO: </b>{{estudio.titulo}}</li>
                                            <li class="list-group-item"><b>FECHA DE ENTRADA:
                                                </b>{{estudio.fecha_entrada}}</li>
                                            <li class="list-group-item"><b>FECHA DE SALIDA: </b>{{estudio.fecha_salida}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="confirmEstuModal" tabindex="-1"
                            aria-labelledby="confirmEstuModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmEstuModalLabel"><i
                                                class="fa-solid fa-trash-can"></i>
                                            Borrar</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group" *ngIf="estudio">
                                            <div class="mb-3">
                                                <h4><b>¿Esta seguro que desea borrar el estudio 
                                                        '{{estudio.titulo}}'?</b></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-group" *ngIf="estudio && indice>=0">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">NO</button>
                                            <button type="submit" class="btn btn-success"
                                                (click)="borrar(estudio.idEstudio,indice)" data-bs-dismiss="modal">
                                                SI
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>