.col {
  background: -webkit-gradient(linear,left top,right top,from(#4a5e83),to(#3c2446));
  background: linear-gradient(90deg,#4a5e83,#3c2446);
  color: #ddd;
}

.carousel {
  width: 100%;
  margin: 20px auto;
}

.carousel-caption {
background: #88a2d193;
}

img {
  height: 400px;
  padding: 0 5%;
}

.btn {
  margin: 0 5px;
}

