<div class="container">
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <!---->
          <h2>
            Proyectos 
            <button class="btn btn-success" routerLink="/add-project" *ngIf="permis">
              <i class="fa-solid fa-circle-plus"></i> 
              Agregar
            </button>
            <button class="btn btn-warning" routerLink="/edit-project-list" *ngIf="permis">
              <i class="fa-solid fa-pen-to-square"></i> 
              Editar Proyectos
            </button>
            <button class="btn btn-secondary" routerLink="/show-projects" *ngIf="!permis">
              Ver Lista
            </button>
          </h2>

          <div id="carouselProjects" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://i.gyazo.com/fe6364174c0770a375c35c59db1f7b60.jpg" class="d-block w-100"
                  alt="logoAzul">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Proyectos Desarrollados</h5>
                  <p></p>
                </div>
              </div>
              <div class="carousel-item" *ngFor="let proyecto of pros">
                  <img src="{{proyecto.imagen_demo}}" class="d-block w-100"
                  alt="proyecto">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ proyecto.nombre_proyecto }}</h5>
                  <p>{{ proyecto.descripcion }}</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://i.gyazo.com/87345a1fe23580a17fe09f83142ed245.jpg" class="d-block w-100"
                  alt="logoRojo">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Ver más</h5>
                  <p>Para ver mas detalles de los proyectos haga clic en Ver Lista.</p>
                </div>
              </div>
            </div>
          </div>
          <!---->
        </div>
      </div>
    </div>
  </div>
</div>