<app-header-empty></app-header-empty>

<div class="container">
    <div class="row mt-5" *ngIf="proyecto">
        <div class="col-md-4 mx-auto">
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-header text-center">
                    Detalle
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{proyecto.idProyecto}}</li>
                    <li class="list-group-item"><b>NOMBRE DEL PROYECTO: </b>{{proyecto.nombre_proyecto}}</li>
                    <li class="list-group-item"><b>FECHA DE REALIZACION: </b>{{proyecto.fecha_realizacion}}</li>
                    <li class="list-group-item"><b>DESCRIPCION: </b>{{proyecto.descripcion}}</li>
                    <li class="list-group-item"><b>ENLACE: </b>{{proyecto.enlace_proyecto}}</li>
                    <li class="list-group-item"><b>IMAGEN DEMOSTRATIVA: (link)</b>{{proyecto.imagen_demo}}</li>
                </ul>
                <div class="card-footer d-grid gap-2">
                    <button class="btn btn-primary btn-block" (click)="volver()"><i class="fa-solid fa-circle-arrow-left"></i>  Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>