<div class="ficha-top" id="home">
    <div class="name">
        <img src="https://i.gyazo.com/1010a883a784d04f571f7889f3200904.png" width="282" alt="perfil" />
        <div>Argentina Programa<span>#YoProgramo</span></div>
    </div>
</div>

<div class="container">
    <h2>Lista de Proyectos <button class="btn btn-primary" [routerLink]="['/']"><i
                class="fa-solid fa-circle-arrow-left"></i> Volver</button></h2>

    <div class="main-container">
        <table>
            <thead>
                <tr>
                    <th>NOMBRE DEL PROYECTO</th>
                    <th>FECHA DE REALIZACION</th>
                    <th>DESCRIPCION</th>
                    <th>ENLACE AL PROYECTO</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proyecto of proyectos">
                    <td>{{proyecto.nombre_proyecto}}</td>
                    <td>{{proyecto.fecha_realizacion}}</td>
                    <td>{{proyecto.descripcion}}</td>
                    <td>{{proyecto.enlace_proyecto}}</td>
                    <td *ngIf="uLogged!=''">
                        <button class="btn btn-primary" routerLink="/view-project/{{proyecto.idProyecto}}"><i class="fa-solid fa-eye"></i></button>
                        <button class="btn btn-warning" routerLink="/modify-project/{{proyecto.idProyecto}}"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-danger" (click)="borrar(proyecto.idProyecto)">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>