<article>

  <h2>Proyectos</h2>

<main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title">{{proyectos[0].nombre_proyecto}}</h2>
        <p class="copy">{{proyectos[0].descripcion}}</p>
        <button class="btn">Ver más</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">{{proyectos[1].nombre_proyecto}}</h2>
        <p class="copy">{{proyectos[1].descripcion}}</p>
        <button class="btn">Ver más</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">{{proyectos[2].nombre_proyecto}}</h2>
        <p class="copy">{{proyectos[2].descripcion}}</p>
        <button class="btn">Ver más</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Ver más</h2>
        <p class="copy">Haga clic en el siguiente boton para ver mas proyectos.</p>
        <button class="btn">Ir a Proyectos</button>
      </div>
    </div>
    <!--<div class="card">
      <div class="content">
        <h2 class="title">To The Beach</h2>
        <p class="copy">Plan your next beach trip with these fabulous destinations</p>
        <button class="btn">View Trips</button>
      </div>
    </div>-->
  </main>
</article>