
.ficha-top {
    background-image: -webkit-gradient(linear,left top,right top,from(#4a5e83),to(#3c2446));
    background-image: linear-gradient(90deg,#4a5e83,#3c2446);
    color: #fff;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    /*border-radius: 10px;*/
}

.ficha-top img {
    width: 60px;
    height: 46px;
    border: 2px solid transparent;
    background: transparent;
}

.name {
    display: flex;
    align-items: center;
}

.name div {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.name span {
    display: block;
    font-size: 10px;
    font-weight: bolder;
    font-family: Karla;
    margin-top: 5px;
}

h2 {
    color: rgb(63, 63, 63);
}

.container {
    margin: 10px auto;
    width: 90%;
}

table {
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgb(49, 48, 48);
}

th, td {
    padding: 20px;
}

td .btn {
    margin: 5px;
}

thead {
    background-color: #4a5e86;
    border-bottom: 5px solid #2a3d64;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td{
    background-color: #79879477;
    color: #fff;
    cursor: pointer;
}

.modal-header {
    background: linear-gradient(90deg,#4a5e83,#3c2446);
    color: #ddd;
}

h4 {
    color: rgb(37, 37, 37);
    font-size: 17px;
    text-align: center;
}

.modal-footer .btn {
    margin-right: 20px;
}