
.carousel-inner {
  background-color: #2c2446;
}

.carousel {
  width: 80%;
  margin: 20px auto;
}

img {
  height: 350px;
  padding: 0 350px;
}

article{
  margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}
