<app-header-empty></app-header-empty>

<div class="container">
    <h2>Lista de Proyectos <button class="btn btn-primary" (click)="volver()"><i
                class="fa-solid fa-circle-arrow-left"></i> Volver</button></h2>

    <div class="main-container">
        <table>
            <thead>
                <tr>
                    <th>IMAGEN DEMOSTRATIVA</th>
                    <th>NOMBRE DEL PROYECTO</th>
                    <th>FECHA DE REALIZACION</th>
                    <th>DESCRIPCION</th>
                    <th>ENLACE AL PROYECTO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proyecto of proyectos">
                    <td><img src="{{proyecto.imagen_demo}}" alt="imagen demostrativa" width="50"></td>
                    <td>{{proyecto.nombre_proyecto}}</td>
                    <td>{{proyecto.fecha_realizacion}}</td>
                    <td>{{proyecto.descripcion}}</td>
                    <td><a href="{{proyecto.enlace_proyecto}}" target="_blank">{{proyecto.enlace_proyecto}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>