.col {
  background: -webkit-gradient(linear,left top,right top,from(#4a5e83),to(#3c2446));
  background: linear-gradient(90deg,#4a5e83,#3c2446);
  color: #ddd;
}

.carousel {
  width: 100%;
  margin: 20px auto;
}

img {
  height: 350px;
  padding: 0 350px;
}

.btn {
  margin: 0 5px;
}