
.ficha-top {
    background-image: -webkit-gradient(linear,left top,right top,from(#4a5e83),to(#3c2446));
    background-image: linear-gradient(90deg,#4a5e83,#3c2446);
    color: #fff;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    /*border-radius: 10px;*/
}

.ficha-top img {
    width: 60px;
    height: 46px;
    border: 2px solid transparent;
    background: transparent;
}

.name {
    display: flex;
    align-items: center;
}

.name div {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.name span {
    display: block;
    font-size: 10px;
    font-weight: bolder;
    font-family: Karla;
    margin-top: 5px;
}

.card {
    margin: 0 auto;
    width: 20rem;
    background-image: -webkit-gradient(linear,left top,right top,from(#4a5e83),to(#3c2446));
    background-image: linear-gradient(90deg,#4a5e83,#3c2446);
}

.card-header {
    color: #ddd;
    padding: 15px;
}

.card-body {
    background: rgb(235, 233, 233);
}

.btn {
    float: right;
    margin: 10px 15px;
}
