<div class="ficha-top">
    <div class="name">
        <img src="https://i.gyazo.com/1010a883a784d04f571f7889f3200904.png" width="282" alt="perfil"/>
        <div>Argentina Programa<span>#YoProgramo</span></div>
    </div>
    <div class="menu">
        <a href="">¿Quien soy?</a>
        <a href="">Habilidades</a>
        <a href="">Experiencia</a>
        <a href="">Proyectos</a>
        <a href="">Estudios</a>
        <a href="">Contacto</a>
        <a href="/signin">Login</a>
        
    </div>
</div>

<div class="banner">
    <img src="https://i.gyazo.com/d17694ad31878e0c01152372eade80dc.jpg" width="100%" alt="banner"/>
</div>

<app-detalle-persona></app-detalle-persona>

<app-lista-tecnologia></app-lista-tecnologia>

<app-lista-experiencia></app-lista-experiencia>

<app-lista-proyecto></app-lista-proyecto>
<!--
<app-lista-estudio></app-lista-estudio>
-->
<div class="ficha-bottom">
    
</div>