<div class="ficha-top">
    <div class="name">
        <img src="https://i.gyazo.com/1010a883a784d04f571f7889f3200904.png" width="282" alt=""/>
        <div>Argentina Programa<span>#YoProgramo</span></div>
    </div>
    <div class="menu">
        <a href="">¿Quien soy?</a>
        <a href="">Habilidades</a>
        <a href="">Experiencia</a>
        <a href="">Proyectos</a>
        <a href="">Estudios</a>
        <a href="">Contacto</a>
        <a href="">Login</a>
    </div>
</div>

<app-detalle-persona></app-detalle-persona>

<app-lista-tecnologia></app-lista-tecnologia>