
body {
    background: #DDD;
}

.ficha-top, .ficha-bottom {
    background-image: -webkit-gradient(linear,left top,right top,from(#4a5e83),to(#3c2446));
    background-image: linear-gradient(90deg,#4a5e83,#3c2446);
    color: #fff;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
    border-radius: 10px;
}

.ficha-top img {
    width: 60px;
    height: 46px;
    border: 2px solid transparent;
    background: transparent;
}

.name {
    display: flex;
    align-items: center;
}

.name div {
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.name span {
    display: block;
    font-size: 10px;
    font-weight: bolder;
    font-family: Karla;
    margin-top: 5px;
}

.menu {
    /*background: #dc7a23;*/
    margin-left: 27%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    text-align: center;
    flex-grow: 1;
}

.menu a:hover {
    /*background: #ff912f;*/
    background: rgba(136, 83, 160, 0.3);
    border-radius: 8px;
}

.banner {
    color: #fff;
    display: flex;
    height: 280px;
    padding: 8px 0;
}

.banner img {
    border-radius: 10px;
}
