<div class="container">
    <div class="row mt-5" *ngIf="experiencia">
        <div class="col-md-4 mx-auto">
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-header text-center">
                    Detalle
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>ID: </b>{{experiencia.idExp}}</li>
                    <li class="list-group-item"><b>PUESTO: </b>{{experiencia.nombre_puesto}}</li>
                    <li class="list-group-item"><b>EMPRESA: </b>{{experiencia.lugar}}</li>
                    <li class="list-group-item"><b>LOGO: </b>{{experiencia.logo_empresa}}</li>
                    <li class="list-group-item"><b>FECHA DE INICIO: </b>{{experiencia.fecha_inicio}}</li>
                    <li class="list-group-item"><b>FECHA DE FINALIZACION: </b>{{experiencia.fecha_fin}}</li>
                    <li class="list-group-item"><b>DESCRIPCION: </b>{{experiencia.descripcion}}</li>
                </ul>
                <div class="card-footer d-grid gap-2">
                    <button class="btn btn-primary btn-block" (click)="volver()"><i class="fa-solid fa-circle-arrow-left"></i>  Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>