.container .card {
    background: linear-gradient(90deg,#4a5e83,#3c2446);
}

.col-md-3 {
    padding: 15px;
}

.form-group {
    margin-top: 10px;
}

h5, label {
    color: #ddd;
    margin-bottom: 5px;
}

.btn {
    margin-right: 15px;
}

input {
    width: 90%;
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgb(82, 82, 82);
    padding: 14px;
}