article {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.main-container {
    margin:20px auto;
    width: 80%;
}

table {
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 20px;
}

thead {
    background-color: #4a5e86;
    border-bottom: 5px solid #2a3d64;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td{
    background-color: #79879477;
    color: #fff;
}