<div class="container">
    <div class="row mb-2">
        <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h2>Experiencia <button class="btn btn-success" [routerLink]="['/add-exp']" *ngIf="uLogged!=''"><i
                                class="fa-solid fa-circle-plus"></i> Agregar</button></h2>

                    <div class="main-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>PUESTO</th>
                                    <th>EMPRESA</th>
                                    <th>FECHA</th>
                                    <th *ngIf="uLogged!=''">OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let experiencia of experiencias">
                                    <td>{{experiencia.nombre_puesto}}</td>
                                    <td>{{experiencia.lugar}}</td>
                                    <td>{{experiencia.fecha_inicio}}</td>
                                    <td *ngIf="uLogged!=''">
                                        <button class="btn btn-primary" ><i
                                                class="fa-solid fa-eye"></i> Ver</button>
                                        <button class="btn btn-warning" ><i
                                                class="fa-solid fa-pen-to-square"></i> Editar</button>
                                        <button class="btn btn-danger" (click)="borrar(experiencia.idExp)"><i class="fa-solid fa-trash-can"></i>
                                            Borrar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
